<h1>Ask me</h1>
<form method="post" action="/ask">
   
   <div class="form-group">
        <textarea id="questionInput" class="form-control" maxlength="200" name="question" cols="100" rows="10" maxlength="200"></textarea>
    <span>Con: <span id="character">200</span>/200 Ki tu</span>
   </div>

    <button >Send</button>
</form>