#main{
    overflow:scroll; 
    height:2000px;
    width: 100%;
    position: relative;
}

#main_main{
    height:100%;
    width: 100%;
    position: relative;
}

#main2_div{
    padding: 3cm;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 60%;
    height: 80%;
    margin: 0px auto;
    background-color: black;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

#main1_div{
    padding: 100 pd;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    margin: 0px auto;
    border-radius: 30px;
    background-color: red;
    width: 60%;
    height: 20%;
}

#avatar{
    border:5px solid black;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#intro{
    margin: 3cm;
    color: yellow;
}

#face{
   width: 20%;
    height: 20%;
    float: left;
}

#intro2{
    padding-left: 20;
    width: 70%;
    float: left;
    color: yellow;
}

table, th, td {
    
    border: 1px solid yellow;
}